@import "tailwindcss";

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

canvas {
  display: block;
}
